<launch>

<rosparam file="$(find pathfinder_description)/launch/controller.yaml" command="load"/>
<node args="fr_motor_position_controller rr_motor_position_controller ll_motor_position_controller rl_motor_position_controller joint_state_controller " name="controller_spawner" ns="pathfinder" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/pathfinder/joint_states"/>
</node>

</launch>